[submodule "microservices/ms-ingredient/app"]
	path = microservices/ms-ingredient/app
	url = git@github.com:yosr10/Killerbee-ms-ingredients.git
[submodule "microservices/ms-modele/app"]
	path = microservices/ms-modele/app
	url = git@github.com:yosr10/Killerbee-ms-modele.git
[submodule "microservices/ms-procede/app"]
	path = microservices/ms-procede/app
	url = git@github.com:yosr10/Killerbee-ms-procede.git
[submodule "ms-gateway"]
	path = ms-gateway
	url = git@github.com:Christophe-Ch/killerbee-api-gateway.git
[submodule "front"]
	path = front
	url = git@github.com:MelineAmbrosini/killerbee-front.git
